[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whichcraft = "*"
waitress = "*"

[dev-packages]
flask = "*"
django = "*"
fastapi = "*"
uvicorn = "*"
flask-socketio = "*"
eventlet = "*"

[requires]
python_version = "3.8"
