<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/metro-all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>FlaskApp</title>
</head>
<body>
    
<h1>Flask Desktop Application</h1>



<a href="\home" class="button">Go home</a>

<p id="ping"></p>


<script src="../static/jquery-3.4.1.min.js"></script>
<script src="../static/metro.min.js"></script>
<!-- <script src="../static/scripts.js?10"></script> -->

<script>

    const port = 5001
    const interval_request = 1 * 1000 //sec
    const ws = new WebSocket(`ws://localhost:${port}`)

    function keep_alive_server(){
        let timestamp = parseInt(new Date().getTime() / 1000)
        ws.send(JSON.stringify({timestamp}))
        document.getElementById("ping").innerHTML = timestamp
    }

    setInterval(keep_alive_server, interval_request)()

</script>


</body>
</html>